@import "tailwindcss";

@theme inline {
  --color-brand-50: #fff0f1;
  --color-brand-100: #fffeef;
  --color-brand-200: #ffc4c9;
  --color-brand-300: #fd8f9a;
  --color-brand-400: #f74b5c;
  --color-brand-500: #eb172d;
  --color-brand-600: #C9102A; /* Bioelectrónica Rojo Principal */
  --color-brand-700: #a90a20;
  --color-brand-800: #8d0d1e;
  --color-brand-900: #75121e;
  
  --color-dark-800: #1f2937;
  --color-dark-900: #111827;
  --color-dark-950: #030712;
  
  --color-event-purple: #0084C5; /* Re-purposed for 'A' Refrigeración Blue */
  --color-event-purple-light: #60a5fa;
  
  --color-success: #00966F; /* 'B' Biomédica Green */
}

body {
  background-color: #f8fafc;
  color: #334155;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media print {
  @page {
    margin: 1cm;
    size: auto;
  }
  body {
    background-color: white !important;
    margin: 0;
  }
  .hide-on-print {
    display: none !important;
  }
  .print-expand {
    width: 100% !important;
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: white !important;
    box-shadow: none !important;
    border: none !important;
  }
}
